/* COLOR & SPACING VARIABLES */
:root {
  --container: 1000px;
  --background-dark: #202020;
  --background-dark-scnd: #333333;
  --background: #f5f5f5;
  --black-font: #1d1d1d;
  --main-red: #ed462f;
}

/* MAIN STYLING */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body,
input,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: white;
}
main {
  min-height: calc(100vh - 200px);
  background-color: var(--background-dark-scnd);
  padding-bottom: 40px;
}
.section-with-search {
  padding: 20px 0;
}
.section-without-search {
  padding: 0;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
b {
  font-weight: bold;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

/* TITLES */
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.9rem;
  line-height: 2.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* FONT STYLING */

/* FLEXBOX */
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
